[submodule "External/vulkan"]
	path = External/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	branch = origin/vulkan-sdk-1.3.290
	update = merge
[submodule "External/nvapi"]
	path = External/nvapi
	url = https://github.com/NVIDIA/nvapi.git
	branch = main
	update = merge
[submodule "External/amdags"]
	path = External/amdags
	url = https://github.com/GPUOpen-LibrariesAndSDKs/AGS_SDK.git
	branch = master
	update = merge
